openapi: 3.1.0
info:
  title: Palta Mobile API Preflight
  version: 0.2.0
  description: >
    Development contract for Palta mobile vertical slices. This is not a production API freeze.
servers:
  - url: https://api.somospalta.cl
    description: Future production boundary
  - url: http://localhost:8787
    description: Local/mock development boundary
security:
  - bearerAuth: []
paths:
  /v1/home:
    get:
      summary: Compose the authenticated user's current Home candidates
      parameters:
        - in: query
          name: locale
          schema: { type: string, default: es-CL }
      responses:
        "200": { description: Home composition, content: { application/json: { schema: { $ref: "#/components/schemas/HomeResponse" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/local/search:
    get:
      summary: Search nearby canonical places/businesses
      parameters:
        - in: query
          name: lat
          required: true
          schema: { type: number, format: double }
        - in: query
          name: lng
          required: true
          schema: { type: number, format: double }
        - in: query
          name: radius_m
          schema: { type: integer, minimum: 100, maximum: 50000, default: 5000 }
        - in: query
          name: q
          schema: { type: string }
      responses:
        "200": { description: Local results, content: { application/json: { schema: { type: object, required: [items], properties: { items: { type: array, items: { $ref: "#/components/schemas/LocalResult" } } } } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/business/{businessId}:
    get:
      summary: Get a canonical business
      parameters:
        - in: path
          name: businessId
          required: true
          schema: { type: string }
      responses:
        "200": { description: Business detail, content: { application/json: { schema: { $ref: "#/components/schemas/Business" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/care:
    post:
      summary: Start or continue a Care track from a confirmed user action
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string }
          description: Stable client mutation ID used to prevent duplicate side effects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_key]
              properties:
                intent_key: { type: string }
                subject_entity_id: { type: string }
                action_type: { type: string }
                payload: { type: object, additionalProperties: true }
      responses:
        "201": { description: Care track created, content: { application/json: { schema: { $ref: "#/components/schemas/CareTrack" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/care/{careTrackId}:
    get:
      summary: Get current Care state
      parameters:
        - in: path
          name: careTrackId
          required: true
          schema: { type: string }
      responses:
        "200": { description: Care state, content: { application/json: { schema: { $ref: "#/components/schemas/CareTrack" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/community/tab:
    get:
      summary: Compose Community tab for the authenticated person
      description: Membership, audience and moderation filtering are server-side. The client never supplies person_id.
      responses:
        "200": { description: Community tab, content: { application/json: { schema: { $ref: "#/components/schemas/CommunityTab" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/community/spaces/{spaceId}:
    get:
      summary: Get one Community space visible to the authenticated person
      parameters:
        - $ref: "#/components/parameters/SpaceId"
      responses:
        "200": { description: Community space, content: { application/json: { schema: { $ref: "#/components/schemas/CommunitySpace" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/community/spaces/{spaceId}/posts/{postId}:
    get:
      summary: Get a Community thread visible to the authenticated person
      parameters:
        - $ref: "#/components/parameters/SpaceId"
        - $ref: "#/components/parameters/PostId"
      responses:
        "200": { description: Community thread, content: { application/json: { schema: { $ref: "#/components/schemas/CommunityThread" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/community/spaces/{spaceId}/join:
    post:
      summary: Join or request membership in a Community space
      description: The server derives the person from the bearer session and applies space eligibility and membership policy.
      parameters:
        - $ref: "#/components/parameters/SpaceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204": { description: Membership transition accepted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /v1/community/spaces/{spaceId}/posts/{postId}/comments:
    post:
      summary: Add a comment as the authenticated person
      parameters:
        - $ref: "#/components/parameters/SpaceId"
        - $ref: "#/components/parameters/PostId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [body], properties: { body: { type: string, minLength: 1, maxLength: 5000 } } }
      responses:
        "204": { description: Comment accepted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/community/spaces/{spaceId}/posts/{postId}/reactions:
    post:
      summary: Set a reaction as the authenticated person
      parameters:
        - $ref: "#/components/parameters/SpaceId"
        - $ref: "#/components/parameters/PostId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [reactionKey], properties: { reactionKey: { type: string, minLength: 1, maxLength: 64 } } }
      responses:
        "204": { description: Reaction accepted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    SpaceId: { in: path, name: spaceId, required: true, schema: { type: string } }
    PostId: { in: path, name: postId, required: true, schema: { type: string } }
    IdempotencyKey: { in: header, name: Idempotency-Key, required: false, schema: { type: string }, description: Stable mutation ID for duplicate protection. }
  responses:
    Unauthorized: { description: Missing or invalid authenticated session }
    Forbidden: { description: Authenticated person is not authorized for this resource/action }
    NotFound: { description: Resource not found or intentionally concealed }
    Conflict: { description: Mutation conflicts with current membership/resource state }
  schemas:
    HomeResponse:
      type: object
      required: [items]
      properties:
        generated_at: { type: string, format: date-time }
        items: { type: array, items: { $ref: "#/components/schemas/HomeCandidate" } }
    HomeCandidate:
      type: object
      required: [id, kind, title, source_domain, delivery]
      properties:
        id: { type: string }
        kind: { type: string, enum: [action, status, alert, useful_today, content] }
        title: { type: string }
        body: { type: string }
        source_domain: { type: string }
        related_entity_id: { type: string }
        care_track_id: { type: string }
        valid_until: { type: string, format: date-time }
        delivery: { type: string, enum: [home, home_notify, urgent] }
        action: { $ref: "#/components/schemas/AppAction" }
    AppAction:
      type: object
      required: [label, target]
      properties:
        label: { type: string }
        target: { type: string, description: Palta internal route/deep-link target }
    LocalResult:
      type: object
      required: [entity_id, entity_type, name, location]
      properties:
        entity_id: { type: string }
        entity_type: { type: string, enum: [place, business, public_service, event] }
        name: { type: string }
        category_key: { type: string }
        distance_m: { type: number }
        verification_status: { type: string }
        location: { $ref: "#/components/schemas/GeoPoint" }
    GeoPoint:
      type: object
      required: [lat, lng]
      properties:
        lat: { type: number, format: double }
        lng: { type: number, format: double }
    Business:
      type: object
      required: [id, name, verification_status]
      properties:
        id: { type: string }
        name: { type: string }
        category_key: { type: string }
        verification_status: { type: string, enum: [unverified, claimed, verified, suspended] }
        location: { $ref: "#/components/schemas/GeoPoint" }
        opening_status: { type: string }
        contact: { type: object, properties: { phone: { type: string }, whatsapp: { type: string } } }
    CareTrack:
      type: object
      required: [id, state, intent_key]
      properties:
        id: { type: string }
        intent_key: { type: string }
        state: { type: string, enum: [discover, prepare, act, wait, result, follow_up, outcome, cancelled] }
        waiting_for: { type: string }
        expected_at: { type: string, format: date-time }
        result: { type: object, additionalProperties: true }
        outcome: { type: object, additionalProperties: true }
        next_action: { $ref: "#/components/schemas/AppAction" }
    CommunityKind:
      type: string
      enum: [school, church, neighborhood, interest, activity, apartment]
    CommunityMembershipState:
      type: string
      enum: [active, pending, none, invite_required]
    CommunityCard:
      type: object
      required: [id, name, kind, meta, unreadCount, actionRequiredCount]
      properties:
        id: { type: string }
        name: { type: string }
        kind: { $ref: "#/components/schemas/CommunityKind" }
        meta: { type: string }
        unreadCount: { type: integer, minimum: 0 }
        actionRequiredCount: { type: integer, minimum: 0 }
    CommunityFeedItem:
      type: object
      required: [id, communityId, communityName, kind, author, timeLabel, body, announcement, commentCount, reactionCount]
      properties:
        id: { type: string }
        communityId: { type: string }
        communityName: { type: string }
        kind: { $ref: "#/components/schemas/CommunityKind" }
        author: { type: string }
        timeLabel: { type: string }
        body: { type: string }
        announcement: { type: boolean }
        commentCount: { type: integer, minimum: 0 }
        reactionCount: { type: integer, minimum: 0 }
    CommunityTab:
      type: object
      required: [communities, discover, feed]
      properties:
        communities: { type: array, items: { $ref: "#/components/schemas/CommunityCard" } }
        discover: { type: array, items: { $ref: "#/components/schemas/CommunityCard" } }
        feed: { type: array, items: { $ref: "#/components/schemas/CommunityFeedItem" } }
    CommunityPostSummary:
      type: object
      required: [id, author, timeLabel, body, commentCount, reactionCount]
      properties:
        id: { type: string }
        author: { type: string }
        timeLabel: { type: string }
        body: { type: string }
        commentCount: { type: integer, minimum: 0 }
        reactionCount: { type: integer, minimum: 0 }
    CommunitySpace:
      type: object
      required: [id, name, subtitle, membershipState, canJoin, joinLabel, joinDescription, joinActionLabel, posts]
      properties:
        id: { type: string }
        name: { type: string }
        subtitle: { type: string }
        membershipState: { $ref: "#/components/schemas/CommunityMembershipState" }
        canJoin: { type: boolean }
        joinLabel: { type: string }
        joinDescription: { type: string }
        joinActionLabel: { type: string }
        posts: { type: array, items: { $ref: "#/components/schemas/CommunityPostSummary" } }
    CommunityComment:
      type: object
      required: [id, author, body, timeLabel]
      properties:
        id: { type: string }
        author: { type: string }
        body: { type: string }
        timeLabel: { type: string }
    CommunityThread:
      type: object
      required: [communityName, post, comments, canComment]
      properties:
        communityName: { type: string }
        post: { $ref: "#/components/schemas/CommunityPostSummary" }
        comments: { type: array, items: { $ref: "#/components/schemas/CommunityComment" } }
        canComment: { type: boolean }
