openapi: 3.1.0
info:
  title: Palta Mobile API Preflight
  version: 0.1.0
  description: >
    Development contract for the first Palta mobile vertical slice.
    This is not a production API freeze.
servers:
  - url: https://api.somospalta.cl
    description: Future production boundary
  - url: http://localhost:8787
    description: Local/mock development boundary

paths:
  /v1/home:
    get:
      summary: Compose the user's current Home candidates
      parameters:
        - in: query
          name: locale
          schema:
            type: string
            default: es-CL
      responses:
        "200":
          description: Home composition
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HomeResponse"

  /v1/local/search:
    get:
      summary: Search nearby canonical places/businesses
      parameters:
        - in: query
          name: lat
          required: true
          schema: { type: number, format: double }
        - in: query
          name: lng
          required: true
          schema: { type: number, format: double }
        - in: query
          name: radius_m
          schema: { type: integer, minimum: 100, maximum: 50000, default: 5000 }
        - in: query
          name: q
          schema: { type: string }
      responses:
        "200":
          description: Local results
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/LocalResult"

  /v1/business/{businessId}:
    get:
      summary: Get a canonical business
      parameters:
        - in: path
          name: businessId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Business detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Business"

  /v1/care:
    post:
      summary: Start or continue a Care track from a confirmed user action
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
          description: Stable client mutation ID used to prevent duplicate side effects.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_key]
              properties:
                intent_key: { type: string }
                subject_entity_id: { type: string }
                action_type: { type: string }
                payload: { type: object, additionalProperties: true }
      responses:
        "201":
          description: Care track created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareTrack"

  /v1/care/{careTrackId}:
    get:
      summary: Get current Care state
      parameters:
        - in: path
          name: careTrackId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Care state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareTrack"

  /v1/messages/conversations/{conversationId}/messages:
    get:
      summary: Sync canonical messages after a conversation sequence cursor
      description: >
        Authenticated principal must be an active participant or be authorized by
        the server to act as the requested business/organization actor. Client
        never supplies principal_user_id. Attachments expose Palta provider-neutral
        asset IDs only; physical storage URLs are resolved through Asset Core.
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - in: query
          name: after_sequence
          schema: { type: integer, minimum: 0, default: 0 }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: acting_actor_type
          schema:
            $ref: "#/components/schemas/ActorType"
        - in: query
          name: acting_actor_id
          schema: { type: string }
      responses:
        "200":
          description: Ordered message sync page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageListResponse"
        "403": { description: Principal cannot act as participant }
        "404": { description: Conversation not found }
    post:
      summary: Persist a message and transactional outbox event
      description: >
        client_message_id is the canonical retry/idempotency key. For offline
        mobile delivery it should be the stable mutation ID. acting_actor asks to
        speak as a business/organization; the server still verifies the signed-in
        principal's authority. created_at is server-assigned. Before any supplied
        asset_id can be attached, the server must verify it through Asset Core.
      parameters:
        - $ref: "#/components/parameters/ConversationId"
        - in: header
          name: Idempotency-Key
          required: false
          schema: { type: string }
          description: May mirror client_message_id. Body client_message_id remains authoritative for Message Core idempotency.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "201":
          description: Newly persisted message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "200":
          description: Idempotent replay of an already persisted message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400": { description: Invalid message, attachment shape or scope }
        "403": { description: Principal cannot act as requested participant or attach requested asset }
        "404": { description: Conversation or scope not found }

  /v1/messages/conversations/{conversationId}/read:
    post:
      summary: Advance the participant read cursor monotonically
      description: >
        Cursor is capped at the conversation's canonical last_sequence and can
        never move backwards. Advancing read also advances delivered state.
      parameters:
        - $ref: "#/components/parameters/ConversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdvanceReadRequest"
      responses:
        "200":
          description: Current participant delivery/read cursor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageReadState"
        "400": { description: Invalid cursor }
        "403": { description: Principal cannot act as participant }

components:
  parameters:
    ConversationId:
      in: path
      name: conversationId
      required: true
      schema: { type: string, format: uuid }

  schemas:
    HomeResponse:
      type: object
      required: [items]
      properties:
        generated_at: { type: string, format: date-time }
        items:
          type: array
          items:
            $ref: "#/components/schemas/HomeCandidate"

    HomeCandidate:
      type: object
      required: [id, kind, title, source_domain, delivery]
      properties:
        id: { type: string }
        kind:
          type: string
          enum: [action, status, alert, useful_today, content]
        title: { type: string }
        body: { type: string }
        source_domain: { type: string }
        related_entity_id: { type: string }
        care_track_id: { type: string }
        valid_until: { type: string, format: date-time }
        delivery:
          type: string
          enum: [home, home_notify, urgent]
        action:
          $ref: "#/components/schemas/AppAction"

    AppAction:
      type: object
      required: [label, target]
      properties:
        label: { type: string }
        target:
          type: string
          description: Palta internal route/deep-link target

    LocalResult:
      type: object
      required: [entity_id, entity_type, name, location]
      properties:
        entity_id: { type: string }
        entity_type:
          type: string
          enum: [place, business, public_service, event]
        name: { type: string }
        category_key: { type: string }
        distance_m: { type: number }
        verification_status: { type: string }
        location:
          $ref: "#/components/schemas/GeoPoint"

    GeoPoint:
      type: object
      required: [lat, lng]
      properties:
        lat: { type: number, format: double }
        lng: { type: number, format: double }

    Business:
      type: object
      required: [id, name, verification_status]
      properties:
        id: { type: string }
        name: { type: string }
        category_key: { type: string }
        verification_status:
          type: string
          enum: [unverified, claimed, verified, suspended]
        location:
          $ref: "#/components/schemas/GeoPoint"
        opening_status: { type: string }
        contact:
          type: object
          properties:
            phone: { type: string }
            whatsapp: { type: string }

    CareTrack:
      type: object
      required: [id, state, intent_key]
      properties:
        id: { type: string }
        intent_key: { type: string }
        state:
          type: string
          enum:
            - discover
            - prepare
            - act
            - wait
            - result
            - follow_up
            - outcome
            - cancelled
        waiting_for: { type: string }
        expected_at: { type: string, format: date-time }
        result: { type: object, additionalProperties: true }
        outcome: { type: object, additionalProperties: true }
        next_action:
          $ref: "#/components/schemas/AppAction"

    ActorType:
      type: string
      enum: [user, business, organization, community, support]

    ActingActor:
      type: object
      required: [actor_type, actor_id]
      properties:
        actor_type:
          $ref: "#/components/schemas/ActorType"
        actor_id: { type: string }
      description: >
        Requested visible actor only. Authenticated principal identity is derived
        by the server and cannot be supplied through this object.

    MessageActionRef:
      type: object
      required: [resource_type, resource_id, action, contract_version]
      properties:
        resource_type: { type: string }
        resource_id: { type: string }
        action: { type: string }
        contract_version: { type: string }

    MessageAttachment:
      type: object
      required: [asset_id, kind, mime_type]
      properties:
        attachment_id:
          type: string
          format: uuid
          description: Server-assigned on persisted responses; omitted on send request.
        asset_id:
          type: string
          minLength: 1
          description: Palta provider-neutral Asset Core ID; never a storage-provider URL.
        kind:
          type: string
          enum: [image, voice, file]
        mime_type:
          type: string
          minLength: 1
        size_bytes:
          type: integer
          minimum: 0
        duration_ms:
          type: integer
          minimum: 0

    SendMessageRequest:
      type: object
      required: [client_message_id, message_type]
      properties:
        client_message_id:
          type: string
          minLength: 1
          maxLength: 240
        scope_id:
          type: string
          format: uuid
        acting_actor:
          $ref: "#/components/schemas/ActingActor"
        message_type:
          type: string
          enum: [text, voice, image, file, location, resource_card, action_card]
        body:
          type: string
          maxLength: 10000
        attachments:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/MessageAttachment"
          description: >
            voice requires exactly one voice attachment; image/file require one or
            more matching attachments. Other message types do not accept attachments.
        reply_to_message_id:
          type: string
          format: uuid
        action_ref:
          $ref: "#/components/schemas/MessageActionRef"

    Message:
      type: object
      required:
        - message_id
        - conversation_id
        - client_message_id
        - sender
        - sequence
        - message_type
        - created_at
      properties:
        message_id: { type: string, format: uuid }
        conversation_id: { type: string, format: uuid }
        scope_id: { type: string, format: uuid }
        client_message_id: { type: string }
        sender:
          $ref: "#/components/schemas/ActingActor"
        sequence: { type: integer, minimum: 1 }
        message_type:
          type: string
          enum: [text, voice, image, file, location, resource_card, action_card]
        body: { type: string }
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/MessageAttachment"
        reply_to_message_id: { type: string, format: uuid }
        action_ref:
          $ref: "#/components/schemas/MessageActionRef"
        created_at: { type: string, format: date-time }
        replayed: { type: boolean }

    MessageListResponse:
      type: object
      required: [items, next_after_sequence, has_more]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        next_after_sequence: { type: integer, minimum: 0 }
        has_more: { type: boolean }

    AdvanceReadRequest:
      type: object
      required: [through_sequence]
      properties:
        acting_actor:
          $ref: "#/components/schemas/ActingActor"
        through_sequence: { type: integer, minimum: 0 }

    MessageReadState:
      type: object
      required: [conversation_id, last_delivered_sequence, last_read_sequence]
      properties:
        conversation_id: { type: string, format: uuid }
        last_delivered_sequence: { type: integer, minimum: 0 }
        last_read_sequence: { type: integer, minimum: 0 }
