openapi: 3.1.0
info:
  title: Palta Mobile API Preflight
  version: 0.2.1
  description: Development contract for Palta mobile vertical slices. This is not a production API freeze.
servers:
  - url: https://api.somospalta.cl
    description: Future production boundary
  - url: http://localhost:8787
    description: Local/mock development boundary
paths:
  /v1/home:
    get:
      security: [{ bearerAuth: [] }]
      summary: Compose the authenticated user's current Home candidates
      responses:
        "200": { description: Home composition }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/local/search:
    get:
      security: []
      summary: Search public nearby canonical places/businesses
      parameters:
        - { in: query, name: lat, required: true, schema: { type: number, format: double } }
        - { in: query, name: lng, required: true, schema: { type: number, format: double } }
        - { in: query, name: radius_m, schema: { type: integer, minimum: 100, maximum: 50000, default: 5000 } }
        - { in: query, name: q, schema: { type: string } }
      responses:
        "200": { description: Public canonical local results }
  /v1/business/{businessId}:
    get:
      security: []
      summary: Get a public canonical business
      parameters:
        - { in: path, name: businessId, required: true, schema: { type: string } }
      responses:
        "200": { description: Public canonical business detail }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/care:
    post:
      security: [{ bearerAuth: [] }]
      summary: Start or continue a Care track from a confirmed user action
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent_key]
              properties:
                intent_key: { type: string }
                subject_entity_id: { type: string }
                action_type: { type: string }
                payload: { type: object, additionalProperties: true }
      responses:
        "201": { description: Care track created }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/care/{careTrackId}:
    get:
      security: [{ bearerAuth: [] }]
      summary: Get current Care state for the authenticated user
      parameters:
        - { in: path, name: careTrackId, required: true, schema: { type: string } }
      responses:
        "200": { description: Care state }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/community/tab:
    get:
      security: [{ bearerAuth: [] }]
      summary: Compose Community tab for the authenticated person
      description: Membership, audience and moderation filtering are server-side. The client never supplies person_id.
      responses:
        "200": { description: Community tab }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/community/spaces/{spaceId}:
    get:
      security: [{ bearerAuth: [] }]
      summary: Get one Community space visible to the authenticated person
      parameters: [{ $ref: "#/components/parameters/SpaceId" }]
      responses:
        "200": { description: Community space }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/community/spaces/{spaceId}/posts/{postId}:
    get:
      security: [{ bearerAuth: [] }]
      summary: Get a Community thread visible to the authenticated person
      parameters: [{ $ref: "#/components/parameters/SpaceId" }, { $ref: "#/components/parameters/PostId" }]
      responses:
        "200": { description: Community thread }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/community/spaces/{spaceId}/join:
    post:
      security: [{ bearerAuth: [] }]
      summary: Join or request membership in a Community space
      parameters: [{ $ref: "#/components/parameters/SpaceId" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "204": { description: Membership transition accepted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /v1/community/spaces/{spaceId}/posts/{postId}/comments:
    post:
      security: [{ bearerAuth: [] }]
      summary: Add a comment as the authenticated person
      parameters: [{ $ref: "#/components/parameters/SpaceId" }, { $ref: "#/components/parameters/PostId" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [body], properties: { body: { type: string, minLength: 1, maxLength: 5000 } } }
      responses:
        "204": { description: Comment accepted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
  /v1/community/spaces/{spaceId}/posts/{postId}/reactions:
    post:
      security: [{ bearerAuth: [] }]
      summary: Set a canonical Palta reaction as the authenticated person
      parameters: [{ $ref: "#/components/parameters/SpaceId" }, { $ref: "#/components/parameters/PostId" }, { $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reactionKey]
              properties:
                reactionKey:
                  type: string
                  enum: [appreciate, helpful, celebrate, curious, concerned, welcome]
      responses:
        "204": { description: Reaction accepted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  parameters:
    SpaceId: { in: path, name: spaceId, required: true, schema: { type: string, format: uuid } }
    PostId: { in: path, name: postId, required: true, schema: { type: string, format: uuid } }
    IdempotencyKey: { in: header, name: Idempotency-Key, required: false, schema: { type: string, minLength: 8, maxLength: 200 }, description: Stable mutation ID for duplicate protection. }
  responses:
    Unauthorized: { description: Missing or invalid authenticated session }
    Forbidden: { description: Authenticated person is not authorized for this resource/action }
    NotFound: { description: Resource not found or intentionally concealed }
    Conflict: { description: Mutation conflicts with current resource state or idempotency key usage }
